spring:
  application:
    name: auth-service
  datasource:
    url: jdbc:postgresql://localhost:5432/rag
    username: user
    password: password
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
security:
  jwt:
    secret: "${JWT_SECRET_KEY}"
    expiration: "${JWT_EXPIRATION}"