spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8080
          predicates:
            - Path=/api/auth/**
        - id: file-service
          uri: http://localhost:8082
          predicates:
            - Path=/api/file/**
server:
  port: 8081

security:
  jwt:
    secret: "${JWT_SECRET_KEY}"